html {
    background-color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-popup {
    display: none; 
    border: 3px solid #f1f1f1;
}

.form-container {
    width: 350px;
    padding: 1rem;
    background-color: white;
}

.form-container > input {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.col-1rem {
    margin-left: 1rem;

}